@import "tailwindcss";

@theme {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
}

@layer utilities {
  .text-preset-1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
  }
  @media (min-width: 768px) {
    .text-preset-1 {
      font-size: 36px;
    }
  }

  .text-preset-2 {
    font-weight: 200;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0.25px;
  }
  @media (min-width: 768px) {
    .text-preset-2 {
      font-size: 36px;
    }
  }

  .text-preset-3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: 0px;
  }

  .text-preset-4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  .text-preset-5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0px;
  }
}

body {
  background: var(--color-white);
  color: var(--color-grey-500);
  font-family: var(--font-poppins), sans-serif;
}
